/** Standart Colors */

$white: #FFF;
$black: #000;

/** UI Colors */

$ui-01: #c44512;
$ui-02: #007D28;

/** Text Colors */

$text-01: #040419;
$text-02: #8d8d8d;
$text-03: #636363;


/** BG Colors */

$bg-01: #d8d8d8;
$bg-02: #fafafa;
$bg-03: #e0e0e0;
$bg-04: #f4f4f4;

